name: Check Markdown links

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: gaurav-nelson/github-action-markdown-link-check@0a51127e9955b855a9bbfa1ff5577f1d1338c9a5 # 1.0.14
      with:
        use-verbose-mode: 'yes'
