name: Check Markdown links

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: gaurav-nelson/github-action-markdown-link-check@d53a906aa6b22b8979d33bc86170567e619495ec # 1.0.15
      with:
        use-verbose-mode: 'yes'
